@font-face {
    font-family: titleFont;
    src: url(fonts/NexaBlack.otf);
}
@font-face {
    font-family: altTitleFont;
    src: url(fonts/NexaBold.otf);
}
:root{
    --brødfont-color: white;
}
/* Edita Book fontweight, Book: 500 - Bold: 700 */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: var(--brødfont-color);
    /* placeholder baggrundsfarve */
    background-color: black;
}
h1,h2,h3,h4,h5,h6,p{
    margin-left: 37px;
    margin-top: 0;
    font-family: titleFont;
}
p{
    /* edita book */
    font-family: edita;
    font-weight: 500;
}
a{
    font-family: edita;
    font-weight: 500;
    color: var(--brødfont-color);
}
/* fucker måske med nogle andre sider. Lavet pga. Vi Er Hopscreek siden */
header a {
    margin-left: 37px;
}
/* Burger Menu */
.mobileNav{
    font-size: 24pt;
}
.mobileNav #dropdown li{
    margin-bottom: 1em;
}
.mobileNav li{
    display: flex;
    flex-direction: column;
}
.mobileNav .dropdown{
    display: none;
}
.mobileNav .burgerMenu {
    display: block;
    position: absolute;
    right: 0;
    top: 0.2em;
}
.mobileNav a{
    font-family: titleFont;
    text-decoration: none;
}
.mobileNav .soMe{
    display: flex;
    flex-direction: row;
    flex: 10%;
}
.mobileNav-active{
    text-decoration: underline;
}
/* burgerMenu icon */
.mobileNav img{
    width: 37px;
    height: 37px;
    margin-right: 37px;
    float: left;
    font-size: 12pt;
}
/* KONCERTER */
.months{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}
.months button{
    width: 70px;
    border-radius: 36px;
    /* border-color: ; */
    background-color: transparent;
    color: var(--brødfont-color);
    border-color: white;
}
.tickets a{
    font-size: 30pt;
}
.tickets p{
    font-size: 21pt;
}
.tickets{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1em auto 1em auto;
}
.ticket{
    margin-bottom: 2em;
    border: 1px solid white;
    text-align: center;
}
.ticket h2, .ticket h3,.ticket p{
    margin-left: 0;
}
.ticket a {
    font-weight: 700;
}
/* https://stackoverflow.com/questions/1269589/css-center-block-but-align-contents-to-the-left
    centre text i midten, men med textalign left */
.tickettext{
    display: inline-block;
    text-align: left;
}
/* OM HOPSCREEK */
.omOsHeader h2{
    font-family: edita;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 1em;
}
/* http://www.java2s.com/example/html-css/css-layout/alternating-left-and-right-positioning-with-css.html
    nth-child(even) og (odd) så jeg rammer hver anden til at gå venstre og højre*/
.medlemmer{
    display: block;
    margin-left: 37px;
    margin-right: auto;
}
.medlem{
    margin-top: 4em;
    margin-bottom: 8em;
}
.medlem img{
    width: 180px;
    height: 180px;
}
.medlem:nth-child(even) img{
    text-align: left;
    float: left;
    clear: left;
    margin-right: 1em;
}
.medlem:nth-child(odd) img{
    float: right;
    clear: right;
    margin-right: 37px;
}
.medlem h2{
    font-family: titleFont;
    font-size: 20pt;
    margin-left: 0;
}
.medlem p{
    margin-left: 0;
}


@media screen and (min-width: 1000px) {
/* https://www.w3schools.com/howto/howto_css_two_columns.asp
    2 kollonner ved siden af hinanden
*/
/* Landing Page PC */
    .landingpage{
        display: flex;
        flex-wrap: wrap;
    }
    .landingpage img{
        width: 100%;
        height: 50vh;
        object-fit: fill;

    }
    .landingpage a {
        width: 50%;
        height: 50%;
    }
    /* Fjerner mobil nav */
    .burgerMenu img{display: none;}
    .dropdown{display: flex;}
    .mobileNav .soMe{display: none;}
    /* Nav animation https://codepen.io/mehi/pen/MyWqPM
    underline fra venstre til højre*/
    /* nav a{font-size: 24px;} */
    nav{
        float: left;
        clear: both;
        margin-right: 1em;
    }
    nav a{
        color: rgb(105, 105, 105); 
        transition: 0.3s ease;
        font-family: altTitleFont !important;
    }
    nav a::after{
        content: '';
        position: absolute;
        width: 0; height: 3px;
        display: block;
        margin-top: 5px;
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
    }
    nav a:hover::after{
        width: 18%;
        left: 0;
        background: #fff;
    }
    nav a:hover{
        color: #fff;
    }
    .mobileNav-active{
        font-family: titleFont !important; 
        color: white;
    }
    .mobileNav-active::after{
            width: 18%;
            left: 0;
            background: #fff;
    }
    /* Vi er HOPSCREEK */
    /* .pcOmOs{
        float: right;
    } */
    .tickets{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .ticket{
        width: 260px;
        height: 260px;
        margin: 1em;
    }
    /* Billet Tekst styling */
    .tickettext{
        padding: 1em 0;
    }
    .tickettext h3{
        font-size: 28px; 
        margin-bottom: 0;
        font-family: altTitleFont;
    } 
    .tickettext h2{
        font-size: 42px; 
        margin: 0;
    }
    .tickettext p{
        font-size: 20px;
    }
    .tickettext a{
        font-size: 30px;
        display: block;
        text-align: center;
    }
    .pcKoncerter header h1{
        margin-left: 1em;
        margin-bottom: 0;
        font-size: 80px;
    }
}